body {
  /* Global colours */
  --dark-blue: #0f1e24;
  --accent-blue: #296ddf;
  --light-grey: #f2f5f7;
  --dark-grey: #707070;

  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  background-color: var(--light-grey);
}

h1 {
  margin-top: 0;
  font-size: 1.875em;
  line-height: 2rem;
  color: var(--dark-blue);
  /* opacity: 0.87; */
}

h2 {
  font-size: 1em;
  margin-top: 0;
}

p {
  margin-top: 0;
  color: var(--dark-blue);
}

input:focus {
  outline-offset: 0;
  outline: none;
  border-color: var(--accent-blue);
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  font-size: 1em;
}

td,
th {
  text-align: left;
  padding: 10px 20px;
  position: relative;
}

th {
  background-color: var(--accent-blue);
  color: white;
}

/* Zebra pattern */
tr:nth-child(even) {
  background-color: #dddddd;
}
